:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image:url('../public/huellas\ fondo\ blanco.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 55px;
  color:rgb(196, 12, 165);
  background-color: black;
  border-radius: 50px;
  margin-bottom: 40px;
  transition: transform 0.3s ;
  &:hover {
    transform: scale(1.05);
   
  }

}
